name: music
services:
  shairport-sync:
    container_name: shairport-sync
    image: mikebrady/shairport-sync:latest
    restart: unless-stopped
    hostname: shairport-sync
    network_mode: host
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: Europe/Paris
      S6_KEEP_ENV: 1 # Allow S6 to pass environment variables from compose file
      PULSE_SERVER: unix:/tmp/pulseaudio.socket # Path for PulseAudio socket
      PULSE_COOKIE: /tmp/pulseaudio.cookie # Path for PulseAudio cookie
    ports: []
    volumes:
      - /DATA/AppData/shairport-sync/shairport-sync.conf:/etc/shairport-sync.conf
      - /run/user/1000/pulse/native:/tmp/pulseaudio.socket # PulseAudio socket
      - /home/marco/.config/pulse/cookie:/tmp/pulseaudio.cookie # PulseAudio cookie
    devices:
      - /dev/snd
    cap_add:
      - SYS_NICE
    dns:
      - 192.168.5.201

  ffmpeg:
    container_name: ffmpeg
    image: jrottenberg/ffmpeg:6.0-ubuntu:latest
    restart: unless-stopped
    hostname: ffmpeg
    networks:
      - traefik
    depends_on:
      - icecast
      - shairport-sync
    network_mode: "host" # required if you capture from PulseAudio
    command: >
      bash -c "
      ffmpeg
        -re -f pulse -i default
        -acodec libmp3lame -b:a 192k -content_type audio/mpeg
        -f mp3 icecast://source:${ICECAST_SOURCE_PASSWORD}@icecast:8000/live
      "
    environment:
      PULSE_SERVER: unix:/run/user/1000/pulse/native
      PGID: "1000"
      PUID: "1000"
      TZ: Europe/Paris
    volumes:
      - /run/user/1000/pulse:/run/user/1000/pulse
    env_file:
      - path: .env
        required: true
      - path: ../../stack.env
        required: false

  icecast:
    container_name: icecast
    image: moul/icecast:latest
    restart: unless-stopped
    hostname: icecast
    networks:
      - traefik
    labels:
      traefik.enable: true
      traefik.http.services.icecast.loadbalancer.server.port: "8000"

      traefik.http.routers.icecast-duckdns-local.rule: Host(`icecast.lucarotto-local.duckdns.org`)
      traefik.http.routers.icecast-duckdns-local.entrypoints: https
      traefik.http.routers.icecast-duckdns-local.tls: true
      traefik.http.routers.icecast-duckdns-local.tls.certresolver: duckdns
      traefik.http.routers.icecast-duckdns-local.tls.domains[0].main: lucarotto-local.duckdns.org
      traefik.http.routers.icecast-duckdns-local.tls.domains[0].sans: "*.lucarotto-local.duckdns.org"
    environment:
      ICECAST_SOURCE_PASSWORD: ${ICECAST_SOURCE_PASSWORD}
      ICECAST_ADMIN_PASSWORD: ${ICECAST_ADMIN_PASSWORD}
      ICECAST_PASSWORD: ${ICECAST_PASSWORD}
      ICECAST_RELAY_PASSWORD: ${ICECAST_RELAY_PASSWORD}
      ICECAST_HOSTNAME: icecast
      ICECAST_PORT: "8000"
      PGID: "1000"
      PUID: "1000"
      TZ: Europe/Paris
    ports: []
      # Disabled in favor of Traefik routing
      # - "8000:8000"
    volumes:
      # - /DATA/AppData/icecast/log:/var/log/icecast2
      - /DATA/AppData/icecast/config:/etc/icecast2
      - /DATA/AppData/icecast/web:/usr/share/icecast2/web
      - /DATA/AppData/icecast/admin:/usr/share/icecast2/admin
    env_file:
      - path: .env
        required: true
      - path: ../../stack.env
        required: false

networks:
  traefik:
    external: true
